<table class="table">
    <thead>
      <tr>
        <th>
          Username
        </th>
        <th>
          name
        </th>
        <th>
          email
        </th>
        <th>
          mobile
        </th>
        <th>
  
          address
        </th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{details.username}}</td>
        <td>{{details.name}}</td>
        <td>{{details.email}}</td>
        <td>{{details.mobile}}</td>
        <td>{{details.address}}</td>
      </tr>
    </tbody>
  
  </table>